/* General Theme */
body, h1, p, input{
	margin: 0;
	padding: 0;
	font-family: Century Gothic, Candara, sans-serif;
}
.wrapper, input[type="number"]{
	background: #FAFAFA;
}
.clearfix{
	clear: both;
}
/*Animation!!!*/
.button, input[type="number"], #logHeader, #logDownload{
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
}
/* The body */
.wrapper{
	width: 800px;
	margin: 10px auto;
	padding: 10px;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.15);
	padding-bottom: 50px;
}
/* The header */
header{
	padding: 15px;
	text-align: center;
	font-family: Century Gothic, sans-serif;
	margin-bottom: 35px;
	border-bottom: 5px double rgba(0,0,0,0.18);
}
/* The timer */
#timerBox{
	margin-top: 80px;
	float: right;
	padding: 10px;
	margin-right: 50px;
	font-size: 150px;
	overflow: hidden;
}
input[type="number"]{
	height: 175px;
	width: 175px;
	padding: 5px;
	font-size: 125px;
	border: none;
	text-align: center;
	-moz-appearance: textfield;
}
input[type="number"]:hover{
	font-size: 130px;
}
header h1{
	text-transform: capitalize;
}

/* The traffic light*/
#buttons{
	width: 160px;
	padding: 10px;
	margin-left: 10px;
	background: #D6D6D6;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	box-shadow: 2px 2px 12px rgba(114, 114, 114, 0.3);
}
/* The individual buttons */
.button{
	display: table;
	width: 120px;
	height: 120px;
	border: 3px solid #C7C7C7;
	border-radius: 50%;
	margin: 15px;
	box-shadow: inset 5px 3px 5px rgba(0,0,0,0.1);
	text-transform: uppercase;
	font-size: 30px;
}
.button:hover{
	cursor: pointer;
	box-shadow: inset 8px 5px 15px rgba(0,0,0,0.21);
	font-size: 33px;
}
/* The tex within them */
p{
	padding: 5px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/* Button colors */
#start{
	background: #A6F5BE;
}
#slow{
	background: #EDFAAA;
}
#stop{
	background: #FF9E9E;
}
#bottom{
	text-align: center;
}
#AdvancedOptions{
	padding: 10px;
	display: inline-block;
	height: 50px;
	width: 250px;
	margin: 10px auto;
	font-size: 30px;
}
#AdvancedOptions p{
	display: inline-block;
	vertical-align: top; /*Fixes the wird issue of everything falling to the bottom.*/
	clear: both;
}
/* Switch */
.slideOne {
	display: inline-block;
	/* Line */
	width: 50px;
	height: 10px;
	background: #333;
	margin: 20px 20px;
	position: relative;
	border-radius: 50px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideOne label {
	/* Button */
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: -7px;
	left: -7px;
	cursor: pointer;
	background: #E5E8DC;
	background: -webkit-linear-gradient(top, #E5E8DC 0%, #D5D6D0 40%, #b3bead 100%);
	background: linear-gradient(to bottom, #E5E8DC 0%, #D5D6D0 40%, #b3bead 100%);
	border-radius: 50%;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.slideOne input[type=checkbox] {
	visibility: hidden;
}
.slideOne input[type=checkbox]:checked + label {
	left: 37px;
}
#logHeader, #logDownload{
	height: 30px;
	width: 130px;
	display: inline-block;
	margin: 20px auto;
	vertical-align: top;
	text-decoration: none;
	color: #000;
	font-size: 25px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 3px 5px 8px rgba(0,0,0,.3);
	border: 1px solid #ddd;
}
#logDownload{
	width: 200px;
}
#logHeader:hover, #logDownload:hover{
	cursor: pointer;
	font-size: 24px;
	box-shadow: 1px 2px 4px rgba(0,0,0,.4);
}
#Log{
	text-align: center;
	overflow: hidden;
}
#tableDiv{
	overflow: auto;
	max-height: 0px;
	-webkit-transition: max-height .35s ease;
	transition: max-height .35s ease;
}
#Date{
	font-size: 20px;
	display: inline-block;
	margin: 0 auto;
	padding: 5px;
}
table{
	display: block;
	margin: 0 auto;
	font-size: 20px;
}
tbody{
	margin: 0 auto;
	display: inline-block;
}
td{
	border: 1px solid #bbb;
	padding: 5px;
	margin: 0;
}

footer{
	text-align: center;
	font-size: .5em;
}